<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{roomName}}</title>
    <meta name="org.matrix.confbot.video_url" content="{{videoUrl}}" />
</head>
<body>
    <noscript>Sorry, you'll need JavaScript to use this widget.</noscript>
    <div id="messages">
        <h3>Waiting for stream</h3>
    </div>
    <video id="livestream" controls autoplay muted></video>
    <div id="controlBar">
        <button id="muteButton">Muted: Click to unmute</button>
    </div>
</body>
</html>
